.rts-banner-main-area-swiper .banner-area-sidebar {
    background: #099d8f;
}

.rts-banner-main-area-swiper .banner-area-sidebar .content .open {
    margin-right: 10px;
    color: #000000;
}

.main-footer-wrapper-one .copy {
    margin-top: 25px;
}